{% extends 'website.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block blockLeft %}
    <p class="text-center">Movies from <b>{{ genre.name }}</b> genre</p>
    <div class="row">
    {% for movie in movies %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <figure class="figure">
                <a href="{{ asset('uploads/posters/' ~ movie.poster) }}" target="_blank">
                    <img src="{{ asset('uploads/posters/' ~ movie.poster) }}" class="figure-img img-fluid rounded" alt="{{ movie.name }}">
                <a/>
                <figcaption class="figure-caption">
                    <a href="{{ path('movie.page', {'movieId': movie.id}) }}">{{ movie.name }}</a>
                    ({{ movie.imdbrate }})
                </figcaption>
            </figure>
        </div>
    {% endfor %}
    </div>
{% endblock %}