{% extends "admin.html.twig" %}

{% block title %}
    {{ parent() }} - 
    {{ title }}
{% endblock %}

{% block options %}
    <li class="breadcrumb-item"><a href="{{ path("admin.movies.create") }}" class="btn btn-sm btn-success"><i class="mdi mdi-plus"></i></a></li>
{% endblock %}

{% block body %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans %}admin.movies.index.country{% endtrans %}</th>
                <th scope="col">{% trans %}admin.movies.index.name{% endtrans %}</th>
                <th scope="col">{% trans %}admin.movies.index.year{% endtrans %}</th>
                <th scope="col">{% trans %}admin.movies.index.imdb{% endtrans %}</th>
                <th scope="col">{% trans %}admin.movies.index.language{% endtrans %}</th>
                <th scope="col">{% trans %}admin.movies.index.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, movie in movies %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ movie.country }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.imdb_rate }}</td>
                <td>{{ movie.language }}</td>
                <td>
                    <a
                        href="{{ path('admin.movies.awards', {'movieId': movie.id}) }}"
                        class="btn btn-sm btn-primary"
                    >Awards</a>
                    <a
                        href="{{ path('admin.movies.edit', {'movieId': movie.id}) }}"
                        class="btn btn-sm btn-warning"
                    >Edit</a>
                    <a
                        href="{{ path('admin.movies.remove', {'movieId': movie.id}) }}"
                        class="btn btn-sm btn-danger"
                    >Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}